<mat-card [style.margin]="'40px auto'" [style.maxWidth]="'500px'">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field>
      <input
        autocomplete="off"
        matInput
        placeholder="email"
        formControlName="email"
      />
    </mat-form-field>
    <br />
    <mat-form-field>
      <input matInput placeholder="password" formControlName="password" />
    </mat-form-field>
    <br />
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>
</mat-card>
